*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: sans-serif;
    color: #0d2b5e;
}

.container
{
    max-width: 750px;
    height: 95vh;
    display: flex;
    align-items: center;
}

.contact
{
    margin-right: 11px;
    border-right: 2px solid #0d2b5e;
    box-shadow: #000000;
}

.contact img
{
    margin-bottom: 10px;    
}

.bio
{
    margin-left: 10px;
}

.bio-education
{
    color: #5a7db5;
    margin-top: 8px;
}

a
{
    color: #0d2b5e;
}

footer
{
    text-align: center;
    font-size: 12px;
    color: #0d2b5e;
}